<%- include('header') -%>

<style>
    .page1{
        height: 85vh;
        width: 100%;
    }
    form{
        margin: 10px;
        border-radius: 20px;
        border: 1px solid black;
        height: 70vh;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .input{
        width: 100%;
        border: 1px solid black;
        background-color: rgb(209,244,234);
        padding: 10px;
        border-radius: 10px;
    }
    .input label{
        padding: 5px;
    }
    .input input{
        height: 100px;
        width: 98%;
        border-radius: 20px;
        color: rgb(98,115,110);
        margin: 10px;
        padding: 20px;
    }
    .title{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        
    }
</style>

<div class="page1">
    <div class="title">
        <h1>Feedback</h1>
    </div>
    <form action="/route/submitfeedback" method="POST">
        <div class="item"><label for="">Order ID : </label> <%= result.orderId %> <br></div>
        <div class="item"><label for="">Pickup Address : </label> <%= result.address %> <br></div>
        <div class="item"><label for="">Time Slot : </label> <%= result.slot %><br></div>
        <div class="item"><label for="">Order ID : </label> <%= result.orderId %> <br></div>
        <div class="item"><label for="">Status : </label> Pickup Completed<br></div>
        <div class="input">
            <input type="number" name="orderID" value=<%= result.orderId %> style="display: none">
            <label for="">Complaints:</label><br>
            <input type="text" name="complaint"><br>
            <label for="">Suggestions :</label><br>
            <input type="text" name="suggestions"><br>
            <button type="submit" class="btn"></button>
            <button class="btn btn-info">Submit</button>
        </div>
    </form>
</div>