<%- include('header') -%>

<h2 style="text-align: center; padding: 10px;">Pending Pickups</h2>
<table class="table table-striped">
    <tr  class="bg-info">
        <th>Order ID</th>
        <th>Date</th>
        <th>Slot</th>
        <th>Category</th>
        <th>Address</th>
    </tr>
    <% for(var i of pendingOrders){ %>
        <tr>
            <th><%= i.orderId %></th>
            <th><%= i.date %></th>
            <th><%= i.slot %></th>
            <th><%= i.category %></th>
            <th><%= i.address %></th>
        </tr>
    <% } %>
</table>

<h2 style="text-align: center; padding: 10px; margin-top: 20px;">Completed Pickups</h2>

<table class="table table-striped">
    <tr  class="bg-info">
        <th>Order ID</th>
        <th>Date</th>
        <th>Slot</th>
        <th>Category</th>
        <th>Address</th>
        <th>Feedback</th>
    </tr>
    <% for(var i of completedOrders){ %>
        <tr>
            <th><%= i.orderId %></th>
            <th><%= i.date %></th>
            <th><%= i.slot %></th>
            <th><%= i.category %></th>
            <th><%= i.address %></th>
            <th>
                <% if (i.feedbackStatus){ %>
                    <p style="color: green">✓Received</p>
                <% } else { %>
                    <a href="/route/feedback/<%= i.orderId %>">
                        <button class="btn btn-info">Give Feedback</button>
                    </a>
                <% } %>
            </th>
            </tr>
    <% } %>
</table> 
<%- include('footer') -%>